.board {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}
.square {
  background: #fff;
  border: 1px solid #999;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 50px;
  border-radius: 3px;
}
.square:focus {
  outline: none;
}
.square:hover {
  border: 2px solid hsl(0, 0%, 83%);
}

.lit {
  /* background: #7abfff; */
  background: hsl(217, 100%, 81%);
}
.unlit {
  /* background: hsl(217, 63%, 44%); */
  background: hsl(217, 71%, 53%);
}

